<form
  id="buttondown-form"
  action="https://buttondown.com/api/emails/embed-subscribe/peterbryantmusic"
  method="post"
  class="embeddable-buttondown-form"
>
  <fieldset role="group">
    <input type="email" placeholder="Email address" name="email" id="bd-email" autocomplete="email" aria-label="Email"/>
    <input type="submit" value="Subscribe"/>
  </fieldset>
  <p>
    <a href="https://buttondown.com/refer/peterbryantmusic" target="_blank">
      <small>Powered by Buttondown.</small>
    </a>
  </p>
</form>